$cont-color: lightsalmon ;
$comp-color: indianred;
$backg-color:seagreen ;
$comp-pad: 5px;
body{
    background-color: $backg-color;
}
.container{
    background-color: $cont-color;
}
h1{
    background-color: $comp-color;
    padding: $comp-pad;
}
p{
    background-color: $comp-color;
    padding: $comp-pad;
}